

.navbar {
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.navbar .navbar-brand {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
  }

.navbar .navbar-nav .nav-link {
    color: #bb0db899;
    font-weight: bold;
    font-size: 1.5rem;
}

.input-group {
  width: 500px;
  height: 50px;
  left: 25px;
  font-weight: bold;
  border: solid 1px #00000099;
}

.options {
  background-color: rgba(42, 91, 91, 0.558);
  border: solid 3px black;
}